<div class="container">
  <h4 class="text-center">Admin Login</h4>

  <form [formGroup]="form" (ngSubmit)="submit()" class="mx-auto mt-4" style="max-width: 400px;">
    <div class="mb-3">
      <label>Username</label>
      <input formControlName="username" class="form-control" />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success w-100">Login</button>

    <div *ngIf="error" class="text-danger mt-2">{{ error }}</div>
  </form>
</div>
